body{
    background-color: black;
    background-image: url(./img/terminalBackground-meh.jpg);
    opacity: .75;
    color: rgb(114, 236, 114);
    font-size: large;
}
table{
    background-color: #333;
    color: limegreen;
}